extends /layout/forms

block beforehtml
  -
    title = 'PsPrint Right Align One'
    description = '來自 PsPrint 的樣板，上面有連結可以開啟，很適合用來製作個人名片！'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/tUvhifE.png")
  meta(property="og:url", content=baseurl + "forms/psprint-3949.html")

block form
  .form-group.was-validated.my-2
    label(for="vcard-logo") LOGO
    input#vcard-logo.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https://\\S+", v-model.trim="vcard.logo")
    small.form-text.text-muted 請填寫 LOGO 圖片網址，必須是 #[code https://] 開頭，比例為 #[code 1:1]，建議可將圖片#[a(target="_blank", href="https://hackmd.io/@docs/how_to_upload_image_tw") 上傳到 HackMD]。
  .form-group.was-validated.my-2
    label(for="vcard-name") 姓名
    input#vcard-name.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.name")
    small.form-text.text-muted 請填寫姓名。
  .form-group.was-validated.my-2
    label(for="vcard-title") 職稱
    input#vcard-title.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title")
    small.form-text.text-muted 請填寫職稱。
  .form-group.was-validated.my-2
    label(for="vcard-company") 公司
    input#vcard-company.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.company")
    small.form-text.text-muted 請填寫公司名稱。
  .form-group.was-validated.my-2
    label(for="vcard-address") 地址
    input#vcard-address.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.address")
    small.form-text.text-muted 請填寫公司地址。
  .form-group.was-validated.my-2
    label(for="vcard-maps") 地圖
    textarea#vcard-maps.form-control.form-control-sm(inputmode="url", required, pattern="https?://\\S+", v-model="vcard.maps", rows="3")
    small.form-text.text-muted 請填寫公司的 Google 地圖網址。
  .form-group.was-validated.my-2
    label(for="vcard-tel") 電話
    input#vcard-tel.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="[0-9,+-]+", v-model="vcard.tel")
    small.form-text.text-muted 請填寫公司電話。
  .form-group.was-validated.my-2
    label(for="vcard-email") 信箱
    input#vcard-email.form-control.form-control-sm(type="email", inputmode="email", required, pattern=".+", v-model="vcard.email")
    small.form-text.text-muted 請填寫公司信箱。
  .form-group.was-validated.my-2
    label(for="vcard-url") 網站
    input#vcard-url.form-control.form-control-sm(type="url", inputmode="url", required, pattern="(https?://|line://|tel:|mailto:)\\S+", v-model.trim="vcard.url")
    small.form-text.text-muted 請填寫公司網站。

  hr.my-4
  h5 獨立分享連結
  .input-group.my-2
    input.form-control.form-control-sm(type="text", readonly, :value="shortcut || ''")
    .input-group-append
      button.btn.btn-outline-secondary(type="button", @click="btnCopy(shortcut)", :disabled="!shortcut") 複製
  small.form-text.text-muted(v-if="shortcut") 此連結已包含目前表單資料，分享或收藏後可直接開啟 LIFF 使用。
  small.form-text.text-muted(v-else) 請先填寫表單讓系統生成您的專屬連結。

block vue-config
  script.
    window.vueConfig.data.vcard = {
      address: '115臺北市南港區經貿二路1號',
      company: '大衛發發發股份有限公司',
      email: 'cto@david888.com',
      logo: 'https://md.david888.com/uploads/upload_b480eddc4c332d553ed36849285a368d.jpg',
      maps: 'https://www.google.com/maps/place/115%E8%87%BA%E5%8C%97%E5%B8%82%E5%8D%97%E6%B8%AF%E5%8D%80%E7%B6%93%E8%B2%BF%E4%BA%8C%E8%B7%AF1%E8%99%9F/@25.0564452,121.6153764,17z/data=!3m1!4b1!4m6!3m5!1s0x3442aca818fcc561:0x9c78adbe2dea2828!8m2!3d25.0564452!4d121.6179513!16s%2Fg%2F11bw3xv0gw',
      name: '江先生',
      tel: '0906541100,000',
      template: '#{baseurl}cards/psprint-3949.txt',
      title: 'CTO',
      url: 'https://david888.com',
    }
