nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand.mb-0.h1(href=baseurl) LINE 數位版名片
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#businesscard-navbar")
    span.navbar-toggler-icon
  #businesscard-navbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item: a.nav-link(href=baseurl) #[i.fa.fa-fw.fa-list] 免費樣版列表
      li.nav-item: a.nav-link(href=baseurl + 'doc.html') #[i.fa.fa-fw.fa-book] API 文件
      li.nav-item: a.nav-link(href="https://github.com/tbdavid2019/line-liff-namecard", target="_blank") #[i.fa.fa-fw.fa-github] 原始碼
